# build output
/build
/out
/bin
/target

# gradle cache
.gradle
.gradle-cache

# IDE & system
.idea
.vscode
.DS_Store

# logs
*.log
*.tmp

# git
.git
.gitignore

# env
.env
*.env
application-*.yml

# Docker
Dockerfile
docker-compose.yml
